# Dependencies
node_modules/

# Build output
dist/
build/
package_build_src/{app}/Pengu/.pengu/plugins/sona/index.css
package_build_src/{app}/Pengu/.pengu/plugins/sona/index.js
package_build_src/{output}

# Vite
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# HTTPS cert cache
.cert/
dist

test/
.cursor/